venv/
.idea
.mypy_cache
.vscode
__pycache__
.pytest_cache
.env
.crc
.part*.csv
_SUCCESS
.jar
Pipfile
Pipfile.lock
pre-commit-hook.bat
.minio.sys
bin/
obj/
.vs
.suo
/src/ssas/
Test-*.xml
/src/java/target/maven-status/
/src/java/target/classes/
/setup.json
/build/
/src/*.egg-info
/.coverage
/MyBearerToken.txt
